# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log

# Environment files
.env

# NiFi runtime data
nifi/state/
nifi/database_repository/
nifi/flowfile_repository/
nifi/content_repository/
nifi/provenance_repository/

# Docker
*.pid

# Hadoop runtime data
hadoop/namenode/current/
hadoop/namenode/in_use.lock
hadoop/datanode/current/
hadoop/datanode/in_use.lock

# Airflow logs
airflow/logs/

# Docker Desktop shortcut
Docker Desktop.lnk