<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Big Data Control Center</title>

    <!--link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/docker_modal.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/ldap_modal.css') }}"-->

      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/docker.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/ldap.css') }}">

</head>

<body>

    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/docker_modal.js') }}"></script>
</body>

</html>