<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Big Data Control Center</title>

      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/docker.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/ldap.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/hdfs.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/hive.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/mysql.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/discord.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/readme.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/nifi.css') }}">

</head>

<body>

    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/docker_modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ldap_modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hdfs_modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hive_modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mysql_modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/discord_modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/readme_modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nifi_modal.js') }}"></script>
</body>

</html>